<!DOCTYPE html>
<html lang="en">
<head>
  <title>Where you build up your dream job</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css" href="css/screen.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="server.js"></script>

</head>
<body>
  <form action="/" method="post" id="job-form">
    <h1>What kind of job are you looking for?  </h1>

    <input type="text" name="job" id="job" placeholder="What is the job type ?"/>
    <br></br>
    <input type="text" name="city" id="city" placeholder="Where is your City ?"/>
    <br></br>
    <input type="submit" name="submit" formaction="/jobs" id="submit" value="Get your dream job!" />

    <h2> Note note: case sensetive, please use "lower-case" for all cities' name </h2>
  </form>
  <ul id="results"></ul>
</body>

</html>
